@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

@font-face {
  font-family: "Rubik-Italic";
  src: url("/assets/fonts/static/Rubik-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("/assets/fonts/static/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("/assets/fonts/static/Rubik-Regular.ttf") format("truetype");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
