@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

@font-face {
  font-family: "Rubik-Italic";
  src: url("/assets/fonts/static/Rubik-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("/assets/fonts/static/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("/assets/fonts/static/Rubik-Regular.ttf") format("truetype");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav input::before,
.settings input[type="checkbox"]::before {
  display: block;
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 48px;
  height: 28px;
  background-color: rgb(167, 41, 245);
  z-index: 1;
  border-radius: 999px;
}

nav input::after,
.settings input[type="checkbox"]::after {
  display: block;
  content: "";
  position: relative;
  top: -24px;
  left: 4px;
  width: 20px;
  height: 20px;
  background-color: white;
  z-index: 2;
  border-radius: 999px;
  transition: left 0.3s ease;
}

nav input:checked::after,
.settings input[type="checkbox"]:checked::after {
  left: 24px;
}

.number-of-questions {
  display: block;
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 145px;
  height: 28px;
  background-color: rgb(167, 41, 245);
  z-index: 1;
  border-radius: 999px;
}

.settings input[type="radio"]::after {
  display: hidden;
  content: "";
  position: relative;
  top: 4px;
  left: 14px;
  width: 20px;
  height: 20px;
  background-color: white;
  z-index: 2;
  border-radius: 999px;
  transition: left 0.3s ease;
}

.settings input[type="radio"]:checked::after {
  display: block;
}

.text-shadow {
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

body {
  /* center the background image */
  background-position: center;
  background-size: cover;
  /* boxmodel */
  box-sizing: border-box;
}

/* desktop */
.d-bg-l {
  background-image: url("/assets/images/pattern-background-desktop-light.svg");
}
.d-bg-d {
  background-image: url("/assets/images/pattern-background-desktop-dark.svg");
}

/* tablet */
@media screen and (max-width: 1024px) {
  .t-bg-l {
    background-image: url("/assets/images/pattern-background-tablet-light.svg");
  }
  .t-bg-d {
    background-image: url("/assets/images/pattern-background-tablet-dark.svg");
  }
}

/* mobile */
@media screen and (max-width: 640px) {
  .m-bg-d {
    background-image: url("/assets/images/pattern-background-mobile-dark.svg");
  }
  .m-bg-l {
    background-image: url("/assets/images/pattern-background-mobile-light.svg");
  }
}
